<div id="inputArea">
    <br>
    <br>
    <br>
    <input type="text" style="margin: .5rem;" name="username" placeholder="Username" [(ngModel)] = "register.username"><br>
    <input type="text" style="margin: .5rem;" name="password" placeholder="Password" [(ngModel)] = "register.password" type="password"><br>
    <input type="text" style="margin: .5rem;" name="confirm_pswd" placeholder="Confirm Password" type="password"><br>
    <input type="text" style="margin: .5rem;" name="email" placeholder="Email" [(ngModel)] = "register.email"><br>
    <button style="margin: .5rem;" type="submit" (click)="signUp()"> Sign Up </button>
</div>
