<div fxLayout='column' fxLayoutAlign="start center" style="min-height:92vh">

  <!-- <div class="p-3"><h2>{{selectedProblem.info.id}}. {{selectedProblem.info.name}} </h2></div> -->
  <mat-tab-group style="width:100%" mat-align-tabs="center">
      <mat-tab label="Problem">
        <div fxLayout='row' fxLayoutAlign="center start" >
          <div class="p-3 text-left" fxLayout='column' fxLayoutAlign="start stretch" style="width:45vw">
            <markdown [data]="selectedProblem.description"></markdown>
          </div>

          <div class="p-3 text-left" fxLayout='column' fxLayoutAlign="start stretch" style="width:45vw">
            <!-- <h4>Code:</h4> -->
            <!-- <div class="ngx-codemirror mb-1"> -->
              <ngx-codemirror [ngModel]="options.value" [options]="options" [autoFocus]=false [preserveScrollPosition]=true
                (ngModelChange)="handleChange($event)"></ngx-codemirror>
            <!-- </div> -->
            <div>
              <button mat-raised-button color="primary" (click)="submit()">Submit</button>
            </div>
            <div *ngIf="userCode">
              <h4>Result:</h4>
              <p>Output: {{submitResult.result}} </p>
              <p>Pass: {{submitResult.pass_nr}}</p>  
              <p>Total: {{submitResult.total}}</p>
              <p>Time: {{submitResult.execution_time}}</p>
            </div>
          </div>
 
        </div>
      </mat-tab>
      <mat-tab label="Solution">
        <div fxLayout='column' fxLayoutAlign="start center" >
          <div class="p-3" style="width:50%">
            <markdown class="text-left" [data]="selectedProblem.solution"></markdown>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Video">
        Content 3
      </mat-tab>
      <mat-tab label="Discussion">
        Content 3
      </mat-tab>
      <mat-tab label="History">
        Content 3
      </mat-tab>
  </mat-tab-group>

</div>


