<body class="text-center">
  <div class="cover-container" fxLayout='column' fxLayoutAlign="start stretch"  >
    <header class="masthead">
      <nav mat-tab-nav-bar mat-align-tabs="center">
        <a mat-tab-link routerLink="/" active=True> Classler</a>
        <a mat-tab-link routerLink="/courses"> Courses </a>
        <a mat-tab-link routerLink="/problems"> Problems </a>
        <a mat-tab-link routerLink="/interview"> Interview </a>
        <a mat-tab-link routerLink="/"> Login </a>
      </nav>
    </header>

    <div >
      <router-outlet></router-outlet>
    </div>

    <footer class="mastfoot" >
      <p>
        <a routerLink="/" class="gray">Blog</a> |
        <a routerLink="/" class="gray">About Us</a> |
        <a routerLink="/" class="gray">FAQ</a> |
        <a routerLink="/" class="gray">Contact Us</a> |
        <a routerLink="/" class="gray">Terms</a> |
        <a routerLink="/" class="gray">Privacy Policy</a>
      </p>
    </footer>
  </div>

</body>