/* AppComponent's private CSS styles */

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}


.cover-container {
  height: 100vh;
  width: 100vw;
  // background-color: #fff;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #000;
}




.masthead {

  background-color: #333;
}

.mastfoot {
  background-color: #eee;
  // color: #333;
}
.gray {
  color: #333;
}

