<div class="cover-container d-flex w-100 h-100 p-1 mx-auto flex-column">
  <h1>{{ topic }}</h1>
  <div>
    <tabset>
      <tab heading="Course" id="tab1">
        <iframe width="640" height="360" [src]="resource_url" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </tab>
      <tab heading="Exercise 1">Basic content 1</tab>
      <tab heading="Exercise 2">Basic content 2</tab>
    </tabset>
  </div>
</div>
