<div class="cover-container d-flex w-100 h-100 p-1 mx-auto flex-column">
  <h1>{{ topic }}</h1>
  <div>
    <tabset>
      <tab heading="Course" id="tab1">
        <iframe width="640" height="360" [src]="video_src" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </tab>
      <tab heading="Content">
        <div [innerHTML]="content" align=center style="width: 600px"></div>
      </tab>
      <tab heading="Exercise">Basic content 2</tab>
    </tabset>
  </div>
</div>
