<div class="p-3" fxLayout='column' fxLayoutAlign="start center">
  <div *ngIf="topic!=''">
    <div class="p-3"><h2>{{ id }} / {{topic}}</h2></div>
  </div>
  <div *ngIf="type=='video'" style="width:70%">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" [src]="resource_url" allowfullscreen></iframe>
    </div>
  </div>
  <div *ngIf="type=='markdown'" style="width:50%">
    <markdown class="text-left" [data]="content"></markdown>
  </div>

  <div *ngIf="course_index!=n-1" class="p-3">
    <button mat-raised-button color="primary" [routerLink]="next.link">Next:  {{next.name}}</button>
  </div>

      


</div>