<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Course Topics</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li *ngFor='let course of course_names'>
            <div routerLink="/courses/{{ course.id }}">
              {{ course.topic }}
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Problem Solving</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li *ngFor='let course of course_names'>
            <div routerLink="/courses/{{course}}">
              {{course}}
            </div>
          </li>
        </ul>
      </div>
    </div> -->
  </div>