
  

  <mat-sidenav-container style="width:100%; min-height:92vh" >
    <mat-sidenav mode="side" opened><div class="p-3">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let course of courses">
            <mat-expansion-panel-header class="p-3">
              {{course.title}}
            </mat-expansion-panel-header>

            <mat-nav-list>
              <a mat-list-item routerLink="{{course.title}}/{{topic}}" *ngFor="let topic of course.topics"> {{ topic }} </a>
              <!-- <mat-list-item *ngFor="let topic of course.topics">
                  <a routerLink="{{course.title}}/{{topic}}">{{ topic }}</a>
              </mat-list-item> -->
            </mat-nav-list>

        </mat-expansion-panel>

      </mat-accordion>
    </div></mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  

  
  