<div id="inputArea">
    <div style="color: red;">{{ err_msg }}</div>
    <input type="text" name="username" placeholder="Username" [(ngModel)] = "input.username"><br>
    <input type="password" name="password" placeholder="Password" [(ngModel)] = "input.password"><br>
    <button type="submit" (click)="login()"> Login </button><br>
    <button type="button" class="btn" (click)="signInWithFB();" style='background-color: blue; color: white'>Login with facebook</button><br>
    <button type="button" class="btn" (click)="signInWithGoogle();" style='background-color: orange; color: white'>Login with Google</button><br>
    <a href="/signup"> Not a user? Sign up! </a>
</div>
<!-- Testing -->
<div>
    <br><button type="button" class="btn" (click)="purchase();" style="background-color: gray; color: white">Purchase</button>
</div>
<div>
    <br><button type="button" class="btn" (click)="isAuthorized();" style="background-color: green; color: white">Authorized?</button>
</div>